// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	text-align: center;
}

.ask {
	background-color: rgba(150, 150, 150, 0.6);
	text-align: center;
}

.answer {
	background-color: rgba(150, 150, 150, 0.6);
	text-align: center;
}